<div class="list-container">
  <div class="header">
    <h2>Fighter Roster</h2>
    
    <input 
      type="text" 
      placeholder="SEARCH FIGHTER..." 
      class="ufc-input"
      [(ngModel)]="searchQuery">
  </div>

  @if (loading) {
    <div class="loading">
      <span class="spinner">🥊</span> Loading Octagon Data...
    </div>
  } @else {
    
    <div class="grid">
      @for (f of filteredFighters; track f.id) {
        <app-fighter-card 
          [fighter]="f" 
          (cardClicked)="goToDetails($event)">
        </app-fighter-card>
      } @empty {
        <p class="no-results">No fighters found matching your search criteria.</p>
      }
    </div>
  }
</div>