<div class="list-container">

  <div class="header">
    <h2>Fighter Roster</h2>

    <input
      type="text"
      placeholder="SEARCH FIGHTER..."
      class="ufc-input"
      [ngModel]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>

  @if (loading$ | async) {
    <div class="loading">
      <span class="spinner">🥊</span> Loading fighters...
    </div>
  } @else if (error$ | async) {
    <p class="no-results">⚠ Error loading fighters.</p>
  } @else if (fighters$ | async; as fighters) {

    <div class="grid">
      @for (f of fighters; track f.id) {
        <app-fighter-card [fighter]="f" (cardClicked)="goToDetails($event)">
        </app-fighter-card>
      } @empty {
        <p class="no-results">No fighters found.</p>
      }
    </div>

  }
</div>
