/* NAVBAR */

.navbar {
  background-color: #0d1b2a;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #14ffd0;
  box-shadow: 0 4px 20px rgba(0,255,200,0.1);
}

.logo a {
  color: #14ffd0;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 0 0 8px rgba(20,255,200,0.6);
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  color: #e5e5e5;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding-bottom: 3px;
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #14ffd0;
  border-bottom: 2px solid #14ffd0;
  text-shadow: 0 0 6px rgba(20,255,200,0.7);
}

.logout-link {
  cursor: pointer;
  color: #ff7575 !important;
  transition: 0.3s;
}

.logout-link:hover {
  color: #ff3b3b !important;
}
