<div class="list-container">

  <div class="search-container">
    <input
      class="search-input"
      placeholder="SEARCH CHARACTER..."
      [ngModel]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>

  @if (loading$ | async) {
    <div class="loading">🛸 Loading...</div>
  } @else if (error$ | async) {
    <div class="loading">Error loading characters.</div>
  } @else if (characters$ | async; as list) {

    <div class="grid">
      @for (c of list; track c.id) {
        <app-character-card [character]="c" (cardClicked)="goToDetails($event)"></app-character-card>
      } @empty {
        <p class="loading">No results.</p>
      }
    </div>

    @if (paging$ | async; as pg) {
      <div class="paging">
        <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
        <button (click)="nextPage()" [disabled]="!pg.next">Next</button>
      </div>
    }

  }
</div>
