<div class="profile-wrapper">

  @if (currentUser$ | async; as user) {

    <div class="profile-card">

      <div class="avatar">
        🧬
      </div>

      <h2>{{ user.email }}</h2>
      <p class="uid">{{ user.uid }}</p>

      <div class="section">
        <span>Status</span>
        <strong class="status">Logged In</strong>
      </div>

      <button class="logout-btn" (click)="onLogout()">
        LOG OUT
      </button>

    </div>

  } @else {

    <p class="loading">Redirecting...</p>

  }

</div>
